.notfound-container {
  text-align: center;
  margin-top: 100px;
}

.notfound-container h1 {
  font-size: 3rem;
  color: #d9534f;
}

.notfound-container p {
  margin: 20px 0;
  font-size: 1.2rem;
  color: #555;
}