<h5 class="card-title">Specialization Details</h5>
@if(specializationDetails){
<div class="table-responsive">
  <table id="zero_config" class="table table-bordered">
    <tbody>
      <tr>
        <th>Name</th>
        <td>{{ specializationDetails.name }}</td>
      </tr>
      <tr>
        <th>Image</th>
        <td>
          @if(specializationDetails.image !== null){
            <img [src]="specializationDetails.image" width="90" alt="Specialization Image">
          }
        </td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{ specializationDetails.description }}</td>
      </tr>
      <tr>
        <th>Doctors</th>
        <td>
          <ul>
            @for (doctor of specializationDetails.doctors; track doctor.id) {
              <li>{{ doctor.firstName }} {{ doctor.lastName }}</li>
            }
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
}@else{
  <div>
    <p>Loaded...</p>
  </div>
}
