body {
  background-color: #f5f9ff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profile-header {
  background: linear-gradient(to right, #0181f5 0%, #5db2ff 100%);

  padding: 4rem 1rem 6rem;
  text-align: center;
  color: white;
  position: relative;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid white;
  position: absolute;
  bottom: -75px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
}

.profile-body {
  margin: 100px auto;
  background: white;
  padding: 2rem;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  max-width: 800px;
}


.edit-btn {
  margin-top: 2rem;
}
.edit-btn a {
  color: #333;
  background: linear-gradient(to right, #0181f5 0%, #5db2ff 100%);
}
.profile-body h4 {
  font-weight: 600;
  color: #333;
}

.info-item {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
  position: relative;
  color: #555;
  display: flex;
  gap: 20px;
}

.info-item .icon {
  color: #0d6efd;
  font-size: 1.2rem;
}

.edit-btn .btn {
  font-weight: 500;
  padding: 0.5rem 1.2rem;
  transition: all 0.3s ease;
}

.edit-btn .btn:hover {
  background-color: #0d6efd;
  color: white;
}
