
<div class="container my-5">
  <header class="header text-white text-center py-4">
    <h1>My Appointments</h1>
  </header>
  <div *ngIf="appointments?.data?.length! > 0; else noAppointments">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12 mb-4" *ngFor="let appt of appointments?.data; let i = index">
        <div class="appointment-card">
          <h3 class="doctor-title">{{appt.doctorFullName}}</h3>
          <p><strong>Appointment Date:</strong> {{appt.appointmentDate}}</p>
          <hr>
          <p><strong>Start Time:</strong>{{appt.startTime}}</p>
          <hr>
          <p><strong>End Time:</strong>{{appt.endTime}}</p>
          <p class="status">
            <strong>Status:</strong>
            <span class="badge bg-warning text-dark" *ngIf="appt.status === 'Pending'">{{ appt.status }}</span>
            <span class="badge bg-success" *ngIf="appt.status === 'Approved'">{{ appt.status }}</span>
            <span class="badge bg-danger" *ngIf="appt.status === 'Rejected'">{{ appt.status }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noAppointments>
    <div style="margin: 20px;">
      <div class="text-center " style="border:3px solid lightblue; width: 50%; margin: auto; padding: 15px; border-radius: 10px;">
        <h5 class="">No Appointments Found</h5>
        <p class="text-muted">You have no appointments scheduled at this time.</p>
      </div>
    </div>

  </ng-template>
</div>

