<form [formGroup]="doctorForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data" class="form-horizontal">
  <div class="card-body">
    <div *ngIf="successMsg" class="alert alert-success">{{ successMsg }}</div>

    <div class="form-group row">
      <label for="fname" class="col-sm-3 text-end control-label col-form-label">Fname</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="fname" formControlName="fname" placeholder="First Name Here" />
        <div *ngIf="submitted && f['fname'].errors" class="text-danger">
          <small *ngIf="f['fname'].errors?.['required']">First name is required.</small>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="lname" class="col-sm-3 text-end control-label col-form-label">Lname</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="lname" formControlName="lname" placeholder="Last Name Here" />
        <div *ngIf="submitted && f['lname'].errors" class="text-danger">
          <small *ngIf="f['lname'].errors?.['required']">Last name is required.</small>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="email" class="col-sm-3 text-end control-label col-form-label">Email</label>
      <div class="col-sm-9">
        <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email Here" />
        <div *ngIf="submitted && f['email'].errors" class="text-danger">
          <small *ngIf="f['email'].errors?.['required']">Email is required.</small>
          <small *ngIf="f['email'].errors?.['email']">Email is invalid.</small>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="image" class="col-sm-3 text-end control-label col-form-label">Image</label>
      <div class="col-sm-9">
        <input type="file" class="form-control" id="image" (change)="onFileChange($event)" />
        <div *ngIf="submitted && f['image'].errors" class="text-danger">
          <small *ngIf="f['image'].errors?.['required']">Image is required.</small>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 text-end control-label col-form-label">Specialization</label>
      <div class="col-sm-9">
        <select class="form-control" formControlName="specialization">
          <option value="">Select specialization</option>
          <option value="Cardiology">Cardiology</option>
          <option value="Dermatology">Dermatology</option>
          <option value="Neurology">Neurology</option>
          <option value="Orthopedics">Orthopedics</option>
        </select>
        <div *ngIf="submitted && f['specialization'].errors" class="text-danger">
          <small *ngIf="f['specialization'].errors?.['required']">Specialization is required.</small>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="date" class="col-sm-3 text-end control-label col-form-label">BirthDate</label>
      <div class="col-sm-9">
        <input type="date" class="form-control" id="date" formControlName="bdate" placeholder="BirthDate Here" />
        <div *ngIf="submitted && f['bdate'].errors" class="text-danger">
          <small *ngIf="f['bdate'].errors?.['required']">Birth date is required.</small>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="address" class="col-sm-3 text-end control-label col-form-label">Address</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="address" formControlName="address" placeholder="Address Here" />
        <div *ngIf="submitted && f['address'].errors" class="text-danger">
          <small *ngIf="f['address'].errors?.['required']">Address is required.</small>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 text-end control-label col-form-label">Waiting Time</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" formControlName="waitingTime" placeholder="Waiting Time Here" />
        <div *ngIf="submitted && f['waitingTime'].errors" class="text-danger">
          <small *ngIf="f['waitingTime'].errors?.['required']">Waiting time is required.</small>
          <small *ngIf="f['waitingTime'].errors?.['min']">Waiting time must be positive.</small>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 text-end control-label col-form-label">Description</label>
      <div class="col-sm-9">
        <textarea class="form-control" formControlName="desc" placeholder="Description Here"></textarea>
        <div *ngIf="submitted && f['desc'].errors" class="text-danger">
          <small *ngIf="f['desc'].errors?.['required']">Description is required.</small>
        </div>
      </div>
    </div>
  </div>

  <div class="border-top">
    <div class="card-body">
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </div>
</form>
