<form class="form-horizontal" action="" enctype="multipart/form-data" method="post">
  <div class="card-body">
    <div class="form-group row">
      <label
        for="fname"
        class="col-sm-3 text-end control-label col-form-label"
        >Fname</label
      >
      <div class="col-sm-9">
        <input
          type="text"
          class="form-control"
          id="fname"
          placeholder="First Name Here"
          name="fname"
        />
      </div>
    </div>
    <div class="form-group row">
      <label
        for="fname"
        class="col-sm-3 text-end control-label col-form-label"
        >Lname</label
      >
      <div class="col-sm-9">
        <input
          type="text"
          class="form-control"
          id="lname"
          placeholder="Last Name Here"
          name="lname"
        />
      </div>
    </div>
    <div class="form-group row">
      <label
        for="email"
        class="col-sm-3 text-end control-label col-form-label"
        >Email</label
      >
      <div class="col-sm-9">
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Email Here"
          name="email"
        />
      </div>
    </div>
    <div class="form-group row">
      <label
        for="image"
        class="col-sm-3 text-end control-label col-form-label"
        >Image</label
      >
      <div class="col-sm-9">
        <input
          type="file"
          class="form-control"
          id="image"
          placeholder="First Name Here"
          name="image"
        />
      </div>
    </div>
    <div class="form-group row">
      <label
        class="col-sm-3 text-end control-label col-form-label"
        >Specialization</label
      >
      <div class="col-sm-9">
        <select class="form-control" name="specialization">
            <option value="">Cardiology</option>
            <option value="">Dermatology</option>
            <option value="">Neurology</option>
            <option value="">Orthopedics</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label
        for="email"
        class="col-sm-3 text-end control-label col-form-label"
        >BirthDate</label
      >
      <div class="col-sm-9">
        <input
          type="date"
          class="form-control"
          id="date"
          placeholder="BirthDate Here"
          name="bdate"
        />
      </div>
    </div>
    <div class="form-group row">
      <label
        class="col-sm-3 text-end control-label col-form-label"
        >Address</label
      >
      <div class="col-sm-9">
        <input
          type="text"
          class="form-control"
          id="address"
          placeholder="Address Here"
          name="address"
        />
      </div>
    </div>
    <div class="form-group row">
      <label
        class="col-sm-3 text-end control-label col-form-label"
        >Waiting Time</label
      >
      <div class="col-sm-9">
        <input
          type="number"
          class="form-control"
          placeholder="Waiting Time Here"
          name="waitingTime"
        />
      </div>
    </div>
    <div class="form-group row">
      <label
        class="col-sm-3 text-end control-label col-form-label"
        >Description</label
      >
      <div class="col-sm-9">
        <textarea
          type="text"
          class="form-control"
          placeholder="Description Here"
          name="desc"
        ></textarea>
      </div>
    </div>
  </div>
  <div class="border-top">
    <div class="card-body">
      <button type="submit" class="btn btn-primary">
        Add
      </button>
    </div>
  </div>
</form>
