  <!-- bradcam_area_start  -->
  <div class="bradcam_area breadcam_bg_2 bradcam_overlay">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Doctors</h3>
                    <p><a href="index.html">Home /</a> Doctors</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end  -->
<!-- expert_doctors_area_start -->
<div class="expert_doctors_area doctor_page">
  <div class="container">
      <div class="row">
        @for (doctor of doctors; track $index) {
          <div class="col-md-6 col-lg-3">
            <app-doctor [doctor]="doctor"></app-doctor>
          </div>
        }
      </div>
  </div>
</div>
<!-- expert_doctors_area_end -->
