<h5 class="card-title">Doctor Details</h5>
<div class="table-responsive">
  <table
    id="zero_config"
    class="table table-bordered"
  >
    <tbody>
      <tr>
        <th>Fname</th>
        <td>Amr</td>
      </tr>
      <tr>
        <th>Lname</th>
        <td>Abdelhameed</td>
      </tr>
      <tr>
        <th>email</th>
        <td>amr&#64;gmail.com</td>
      </tr>
      <tr>
        <th>Image</th>
        <td><img src="https://images.unsplash.com/photo-1659353889416-fab1265eaa7f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" width="90"></td>
      </tr>
      <tr>
        <th>Specialization</th>
        <td>Cardiology</td>
      </tr>
      <tr>
        <th>BirthDate</th>
        <td>mm/dd/yyyy</td>
      </tr>
      <tr>
        <th>Address</th>
        <td>Cairo</td>
      </tr>
      <tr>
        <th>Waiting Time</th>
        <td>5 min</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est vel, reprehenderit voluptate eligendi labore esse magni incidunt aperiam nostrum dolorum voluptates vero pariatur ad a quasi error mollitia? Natus, magni?</td>
      </tr>
      <tr>
        <th>Consultaion Time</th>
        <td>15 min</td>
      </tr>
    </tbody>
  </table>
</div>

