<h5 class="card-title">Doctor Details</h5>

<div class="table-responsive" *ngIf="doctorDetails">
  <table id="zero_config" class="table table-bordered">
    <tbody>
      <tr>
        <th>First Name</th>
        <td>{{ doctorDetails.firstName }}</td>
      </tr>
      <tr>
        <th>Last Name</th>
        <td>{{ doctorDetails.lastName }}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{ doctorDetails.userEmail }}</td>
      </tr>
      <tr>
        <th>Phone</th>
        <td>{{ doctorDetails.userPhoneNumber }}</td>
      </tr>
      <tr>
        <th>Image</th>
        <td>
          <img [src]="doctorDetails.image" width="90" alt="Doctor Image">
        </td>
      </tr>
      <tr>
        <th>Address</th>
        <td>{{ doctorDetails.address }}</td>
      </tr>
      <tr>
        <th>Birth Date</th>
        <td>{{ doctorDetails.birthDate }}</td>
      </tr>
      <tr>
        <th>Waiting Time</th>
        <td>{{ doctorDetails.waitingTime }} min</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{ doctorDetails.description }}</td>
      </tr>
      <tr>
        <th>Consultaion Time</th>
        <td>{{ doctorDetails.slotDuration }} min</td>
      </tr>
    </tbody>
  </table>
</div>
@if(!doctorDetails){
  <div>
    <p>Loading doctor details...</p>
  </div>
}