.header{
  text-align: center;
  padding: 20px;
  color: white;
}
.margin-padding{
  margin: 5px;
  padding: 20px;
}
.contact{
  color: grey;
  border: 1px solid white;
  border-radius: 10px;
  background: white;
}


