<div style="margin: 5rem auto" class="container">
  <header class="header">
    <h1>Doctor's Appointments</h1>
    <p>Manage Patient Appointments</p>
  </header>
  <div style="margin-top: 3rem" class="row">
    @if (doctorAppointments.data!.length > 0 ) { @for (item of
    doctorAppointments.data; track $index) {
    <div class="col-lg-4 col-md-6 col-12 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{{item.patientFullName}}</h5>
          <hr />
          <div class="card-text">
            <p><strong>Date:</strong> {{item.appointmentDate}}</p>
            <p><strong>Time:</strong> {{item.startTime}} - {{item.endTime}}</p>
            <p><strong>Status:</strong> {{item.status}}</p>
          </div>
          <div class="d-flex justify-content-between">
            <button *ngIf="item.status.toLowerCase() == 'pending'" class="btn " style="background-color: green; color: #fff;">Accept</button>
            <button *ngIf="item.status.toLowerCase() == 'pending'" class="btn " style="background-color: red; color: #ffff;">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    }@empty {
    <div
      style="
        text-align: center;
        width: 100%;
        font-size: 2rem;
        font-weight: bold;
      "
    >
      Has No Appointments Yet !
      <p style="margin-top: 0.8rem">Wait for more</p>
    </div>
    } }@else {
      <div style="width: 100%; text-align: center;padding: 3rem 0;">
        Loading....
      </div>
    }
  </div>
</div>
