  <!-- bradcam_area_start  -->
  <div class="bradcam_area breadcam_bg_2 bradcam_overlay">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Specializations</h3>
                    <p><a>Home /</a> Specializations</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end  -->
    <!-- service_area_start -->
    <div class="service_area">
      <div class="container p-0">
          <div class="row no-gutters">
              <div class="col-xl-4 col-md-4">
                  <div class="single_service">
                      <div class="icon">
                          <i class="flaticon-electrocardiogram"></i>
                      </div>
                      <h3>Hospitality</h3>
                      <p>Clinical excellence must be the priority for any health care service provider.</p>
                      <a href="#" class="boxed-btn3-white">Apply For a Bed</a>
                  </div>
              </div>
              <div class="col-xl-4 col-md-4">
                  <div class="single_service">
                      <div class="icon">
                          <i class="flaticon-emergency-call"></i>
                      </div>
                      <h3>Emergency Care</h3>
                      <p>Clinical excellence must be the priority for any health care service provider.</p>
                      <a href="#" class="boxed-btn3-white">+10 672 356 3567</a>
                  </div>
              </div>
              <div class="col-xl-4 col-md-4">
                  <div class="single_service">
                      <div class="icon">
                          <i class="flaticon-first-aid-kit"></i>
                      </div>
                      <h3>Chamber Service</h3>
                      <p>Clinical excellence must be the priority for any health care service provider.</p>
                      <a href="#" class="boxed-btn3-white">Make an Appointment</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- service_area_end -->
       <!-- offers_area_start -->
       <div class="our_department_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-55">
                        <h3>Our Specializations</h3>
                        <p>Esteem spirit temper too say adieus who direct esteem. <br>
                            It esteems luckily or picture placing drawing. </p>
                    </div>
                </div>
            </div>
            <div class="row">
              @for (specialization of specializations; track specialization.id) {
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_department">
                        <div class="department_thumb">
                            <img src="specialization.image" alt="">
                        </div>
                        <div class="department_content">
                            <h3><a href="#">{{ specialization.name }}</a></h3>
                            <p>{{ specialization.description }}</p>
                            <!-- <a href="#" class="learn_more">Learn More</a> -->
                        </div>
                    </div>
                </div>
              }
            </div>
        </div>
    </div>
    <!-- offers_area_end -->
